@model CMS.Data.Blogs

@{
    ViewBag.Title = Model.title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li><a href="/blog">Blog</a></li>
                    <li class="active">@Model.title</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <article>
                    <div class="post-image">
                        <div class="post-heading">
                            <h3>@Model.title</h3>
                        </div>
                        <img src="~/Uploads/@Model.imageUrl" alt="@Model.title" />
                    </div>
                    <p>
                        @Html.Raw(Model.description)
                    </p>
                    <div class="bottom-article">
                        <ul class="meta-post">
                            <li><i class="icon-calendar"></i>@Model.createddate.Value.ToString("dd MMMM yyyy HH:mm")</li>
                        </ul>
                    </div>
                </article>
                <div class="row">
                    <div class="col-md-12">
                        <form action="/Home/CommentSave/" method="post">
                            <h4>Yorum Yap</h4>
                            <input type="hidden" class="form-control" name="id" value="0" required>
                            <input type="hidden" class="form-control" name="blogid" value="@Model.id" required>
                            <input type="hidden" class="form-control" name="blogtitle" value="@Model.title" required>
                            <input type="hidden" class="form-control" name="isactive" value="False" required>
                            <input type="hidden" class="form-control" name="createddate" value="@DateTime.Now" required>
                            <input type="text" id="name" name="name" placeholder="Adınız" class="form-control" required />
                            <br />
                            <input type="email" id="email" name="email" placeholder="E-posta adresiniz" class="form-control" required />
                            <br />
                            <textarea id="comment" name="comment" typeof="text" placeholder="Yorumunuz" class="form-control" required></textarea>
                            <br />
                            <button type="submit" class="btn btn-success" id="send">Yorum Yap</button> @ViewBag.Message
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div>
                        @if (CMS.Data.Db.Func.GetCommentByBlogID(Convert.ToInt32(Model.id)).Count() > 0)
                        {
                            <h4>@Model.title yazısına ait yorumlar</h4>
                        }
                        @foreach (var item in CMS.Data.Db.Func.GetCommentByBlogID(Convert.ToInt32(Model.id)))
                        {
                            <p>@item.name - @item.createddate.Value.ToString("dd MMMM yyyy HH:mm")</p>
                            <p>@item.comment</p>
                            <hr />
                        }

                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="right-sidebar">
                    <div class="widget">
                        <form class="form-search">
                            <input class="form-control" type="text" placeholder="Search..">
                        </form>
                    </div>
                    @{
                        Html.RenderAction("CategoryPartial", "Home");
                    }
                    @{
                        Html.RenderAction("LatestPostPartial", "Home");
                    }
                </aside>
            </div>
        </div>
    </div>
</section>