@using PagedList.Mvc;
@using PagedList;

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li class="active">Blog</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                @foreach (var item in Model)
                {
                    <article>
                        <div class="post-image">
                            <div class="post-heading">
                                <h3><a href="/blog/@CMS.Data.Extensions.ToUrlSlug(item.title)-@item.id">@item.title</a></h3>
                            </div>
                            <img src="~/Uploads/@item.imageUrl" alt="@item.title" />
                        </div>
                        <p>
                            @Html.Raw(item.description.Substring(0, 150))
                        </p>
                        <div class="bottom-article">
                            <ul class="meta-post">
                                <li><i class="icon-calendar"></i>@item.createddate.ToString("dd MMMM yyyy HH:mm")</li>
                                <li><i class="icon-folder-open"></i>@item.categoryName</li>
                            </ul>
                            <a href="/blog/@CMS.Data.Extensions.ToUrlSlug(item.title)-@item.id" class="pull-right">Devamını oku <i class="icon-angle-right"></i></a>
                        </div>
                    </article>
                }
                <div id="pagination">
                    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Blog", new { page }))
                </div>
            </div>
            <div class="col-lg-4">
                <aside class="right-sidebar">
                    <div class="widget">
                        <form class="form-search">
                            <input class="form-control" type="text" placeholder="Search..">
                        </form>
                    </div>
                    @{
                        Html.RenderAction("CategoryPartial", "Home");
                    }
                    @{
                        Html.RenderAction("LatestPostPartial", "Home");
                    }
                </aside>
            </div>
        </div>
    </div>
</section>